<section class="auth-container">
    <div class="auth-box">
      <h2>Register</h2>
  
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

  
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            ngModel
          required
          email
          #inputEmail="ngModel"
          />
  
          @if (inputEmail?.touched) {
            <div>
              @if (inputEmail?.errors?.['required']) {
                <p class="error">Email is required!</p>
              }
  
              @if (inputEmail?.errors?.['email']) {
                <p class="error">Email is not valid!</p>
              }
            </div>
          }
        </div>
  
        <!-- Password -->
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Create a password"
            ngModel
          required
          minlength="6"
          #inputPassword="ngModel"
          />
  
          @if (inputPassword?.touched) {
            <div>
              @if (inputPassword?.errors?.['required']) {
                <p class="error">Password is required!</p>
              }
  
              @if (inputPassword?.errors?.['minlength']) {
                <p class="error">Password must be at least 6 characters!</p>
              }
            </div>
          }
        </div>
  
        <!-- Repeat Password -->
        <div class="form-group">
          <label for="rePass">Repeat Password</label>
          <input
            type="password"
            id="rePass"
            name="rePass"
            placeholder="Repeat your password"
            ngModel
          required
          #inputRePass="ngModel"
          />
  
          @if (inputRePass?.touched) {
            <div>
              @if (inputRePass?.errors?.['required']) {
                <p class="error">Repeat password is required!</p>
              }
            </div>
          }
        </div>
  
        <!-- Password mismatch -->
        @if (passwordMismatch) {
            <p class="error">Passwords do not match!</p>
          }
  
          @if (errorMessage) {
            <p class="error">{{ errorMessage }}</p>
          }
        <!-- Submit -->
        <button type="submit" [disabled]="registerForm.invalid">Register</button>
  
      </form>
  
      <p class="switch">
        Already have an account?
        <a routerLink="/login">Login here</a>
      </p>
    </div>
  </section>