<section class="create-container">
    <div class="create-box">
      <h2>Add New Herb</h2>
  
      <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
  
        <!-- Name -->
        <div class="form-group">
          <label for="name">Herb Name</label>
          <input
            type="text"
            id="name"
            name="name"
            ngModel
            required
            #inputName="ngModel"
            placeholder="Enter herb name"
          />

          @if(inputName?.touched){
            @if(inputName?.errors?.['required']) {
              <p class="error">Name is required</p>
            }
          }
        </div>
  
        <!-- Image URL -->
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input
            type="text"
            id="imageUrl"
            name="imageUrl"
            ngModel
            required
            #inputImage="ngModel"
            placeholder="Enter image URL"
          />
         
          @if (inputImage?.touched) {
            @if (inputImage?.errors?.['required']) {
              <p class="error">Image URL is required</p>
            }
          }

        </div>
  
        <!-- Benefits -->
        <div class="form-group">
          <label for="benefits">Benefits</label>
          <textarea
            id="benefits"
            name="benefits"
            ngModel
            required
            #inputBenefits="ngModel"
            rows="4"
            placeholder="Describe the benefits of this herb"
          ></textarea>
          
          @if (inputBenefits?.touched) {
            @if (inputBenefits?.errors?.['required']) {
              <p class="error">Benefits are required</p>
            }
          }

        </div>
  
        <!-- Usage -->
        <div class="form-group">
          <label for="usage">Usage</label>
          <textarea
            id="usage"
            name="usage"
            ngModel
            required
            #inputUsage="ngModel"
            rows="4"
            placeholder="How is this herb used?"
          ></textarea>
          
          @if (inputUsage?.touched) {
            @if (inputUsage?.errors?.['required']) {
              <p class="error">Usage is required</p>
            }
          }

        </div>
  
        <!-- Submit -->
        <button type="submit" [disabled]="createForm.invalid">Add Herb</button>
  
      </form>
    </div>
  </section>
