
<!-- <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/catalog">Catalog</a>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/create">Add Herb</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
</nav> -->

<header id="header" class="alt">
    <h1 id="logo"><a href="index.html">Herbs and Flowers Encyclopedia</a></h1>
    <nav id="nav">
        <ul>
          <li><a routerLink="/" class="button primary">Home</a></li>
          <li><a routerLink="/login" class="button primary">Login</a></li>
          <li><a routerLink="/register" class="button primary">Register</a></li>
          <li><a routerLink="/catalog" class="button primary">Catalog</a></li>
          <li><a routerLink="/dashboard" class="button primary">Dashborad</a></li>
          <li><a routerLink="/create" class="button primary">Add Herb</a></li>
          <li><a href="#" class="button primary">Logout</a></li>
        </ul>
      </nav>
    
  </header>

