<body class="index is-preload">
    <div id="page-wrapper">
  
      <!-- Banner -->
      <section id="banner">
  
        <!--
            ".inner" is set up as an inline-block so it automatically expands
            in both directions to fit whatever's inside it. This means it won't
            automatically wrap lines, so be sure to use line breaks where
            appropriate (<br />).
          -->
        <div class="inner">
  
          <header>
            <h2>Herbs and Flowers Encyclopedia</h2>
          </header>
          <p>Discover the beauty and power of nature. </p>
          <p>Explore a vibrant world of herbs and flowers—rich in history, healing, and harmony.</p>
  
          <footer>
            <ul class="buttons stacked">
              <li><a href="#main" class="button  scrolly">Tell Me More</a></li>
            </ul>
          </footer>
  
        </div>
  
      </section>
  
      <!-- Main -->
      <article id="main">
  
        <header class="special container">
          <span class="icon solid fa-chart-bar"></span>
          <h2>What you will find here?</h2>
           <p> This page is created to introduce the rich world of herbs and medicinal flowers, 
            highlighting their natural healing properties and long-standing role in traditional and 
            modern wellness practices. It aims to provide accessible information for anyone interested 
            in using plants as a gentle and effective way to support health and well-being.
          </p>
        </header>
  
  
        <!-- Two -->
        <section class="wrapper style1 container special">
          <div class="row">
            <div class="col-4 col-12-narrower">
  
              <section>
                <span class="icon solid featured fa-check"></span>
                <header>
                  <h3>Natural Healing</h3>
                </header>
                <p>Herbs support the body’s natural healing processe</p>
              </section>
  
            </div>
            <div class="col-4 col-12-narrower">
  
              <section>
                <span class="icon solid featured fa-check"></span>
                <header>
                  <h3>Source of nutrients</h3>
                </header>
                <p>Herbs provide a natural source of essential nutrients and antioxidants.</p>
              </section>
  
            </div>
            <div class="col-4 col-12-narrower">
  
              <section>
                <span class="icon solid featured fa-check"></span>
                <header>
                  <h3>Find relaxation</h3>
                </header>
                <p>Herbs can help you find relaxation and balance in daily life.</p>
              </section>
  
            </div>
          </div>
        </section>
  
        <!-- Three -->
        <section class="wrapper style3 container special">
  
          <header class="major">
            <h2>Next look at this <strong>cool stuff</strong></h2>
          </header>
  
          <div class="row">
            <div class="col-6 col-12-narrower">
  
              <section>
                <a href="#" class="image featured"><img src="../assets/images/pic01.jpg" alt="" /></a>
                <header>
                  <h3>A Really Fast Train</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed
                  tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
              </section>
  
            </div>
            <div class="col-6 col-12-narrower">
  
              <section>
                <a href="#" class="image featured"><img src="../assets/images/pic02.jpg" alt="" /></a>
                <header>
                  <h3>An Airport Terminal</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed
                  tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
              </section>
  
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-12-narrower">
  
              <section>
                <a href="#" class="image featured"><img src="../assets/images/pic03.jpg" alt="" /></a>
                <header>
                  <h3>Hyperspace Travel</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed
                  tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
              </section>
  
            </div>
            <div class="col-6 col-12-narrower">
  
              <section>
                <a href="#" class="image featured"><img src="../assets/images/pic04.jpg" alt="" /></a>
                <header>
                  <h3>And Another Train</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed
                  tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
              </section>
  
            </div>
          </div>
  
          <footer class="major">
            <ul class="buttons">
              <li><a routerLink="/catalog" class="button">See More</a></li>
            </ul>
          </footer>
  
        </section>
  
      </article>
  
  
    </div>
  
    
  
  </body>
